version: "3.8"
services:
  backend:
    image: sjknapp/project-backend-image:latest
    build: ./backend
    deploy:
      replicas: 4
    ports: 
    - target: 5001
      published: 5001
      protocol: tcp
    environment:
      DATABASE_URI: ${DATABASE_URI}
      SECRET_KEY: ${SECRET_KEY}

  frontend:
    image: sjknapp/project-frontend-image:latest
    build: ./frontend
    deploy:    
      replicas: 4
    ports:
    - target: 5000
      published: 5000
      protocol: tcp

